


    <% if params["machine_id"] %>
    <table>
      <thead>
        <tr>
          <% @kits.each do |kit| %>
            <th> <%= kit.kitname %> </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Content Goes Here</td>
          <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
          <td>Content Goes Here</td>
          <td>Content Goes Here</td>
        </tr>
      </tbody>
    </table>


    <% else %>
      <% @machines.each do |machine| %>
        <ul>
          <li> <%= link_to machine.machinename, new_order_path(machine_id: machine.id) %> </li>
        </ul>
      <% end %>
    <% end %>
