    <% if params["machine_id"] %>
    <table>
      <thead>
        <tr>
          <% @kits.each do |kit| %>
            <th> <%= kit.kitname %> </th>
          <% end %>
            <th>Needed By</th>
            <th>Comments</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <% else %>
      <% @machines.each do |machine| %>
        <ul>
          <li> <%= link_to machine.machinename, new_order_path(machine_id: machine.id) %> </li>
        </ul>
      <% end %>
    <% end %>
