<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each |order| do %>
      <tr>
      
      </tr>
    <% end %>
</tbody>
</table>
